@charset "utf-8";
/* CSS Document */

/* Forms Theming */
form { margin:0; padding:0; }
form .formSection { display:block; width:100%; margin-bottom:20px; border-bottom:0px solid #EBEBEB; }
form .formSection h2 { font-size:16px; display:block; width:100%; margin-bottom:4px; }
form .formSection .formColumn { float:left; width:50%; padding-bottom:20px; }
form .formPadding { padding-left:5px; padding-right:5px; }
form .formSection label { display:block; margin-top:0px; margin-bottom:1px; font-size:13px; font-weight:bold; font-family:Verdana, Geneva, sans-serif; }
/*form .formSection .formColumn label { display:block; padding:4px; clear:left; }*/
/*form .formSection span { 
	display:block;
	border:1px solid gray;
	margin-right:1px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	
	margin-bottom:2px;
}
form .formSection span input { background:none; border:none; width:95%; font-size:16px; line-height:24px; }*/

form.jimify label { font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#666; }
form.jimify label.required { }
form.jimify label.required span {color:#EE0000; }


form.jimify .theme_input input[type=text], form.jimify .theme_input input[type=password] { -webkit-appearance:none !important;/* -webkit-box-shadow:-2px 3px 2px #000;*/ }
form.jimify .theme_input input[type=text]:focus, form.jimify .theme_input input[type=password]:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}

form.jimify .theme_input {
	display:block;
	background:url('images/inputBG.png') left top no-repeat;
	margin-top:2px;
	margin-bottom:4px;
	padding-left:14px;
	margin-right:15px;
}
form.jimify .theme_input span {
	background:url('images/inputBG.png') right top no-repeat;
	display:block;
	margin-right:-14px;
	height:25px;
}

form.jimify .theme_input input.loading {
	background:url('images/loading.gif') 100% center no-repeat !important;
	/*padding-right:20px;*/
}

/* Button */
form.jimify .theme_button {
	display:block;
	background:url('images/buttonBG.png') left top no-repeat;
	margin-bottom:2px;
	padding-left:14px;
	margin-right:15px;
	color:white;
}
form.jimify .theme_button span {
	background:url('images/buttonBG.png') right top no-repeat;
	display:block;
	margin-right:-14px;
	height:37px;
}
form.jimify .theme_button:hover { background-position: left -50px; }
form.jimify .theme_button:hover span { background-position: right -50px; }
form.jimify .theme_button:hover input { }

/* Button small */
form.jimify .theme_buttonSM {
	display:block;
	background:url('images/buttonSmallBG.png') left top no-repeat;
	margin-bottom:2px;
	padding-left:14px;
	margin-right:15px;
	color:white;
}
form.jimify .theme_buttonSM span {
	background:url('images/buttonSmallBG.png') right top no-repeat;
	display:block;
	margin-right:-14px;
	height:25px;
}
form.jimify .theme_buttonSM:hover { background-position: left -50px; }
form.jimify .theme_buttonSM:hover span { background-position: right -50px; }
form.jimify .theme_buttonSM:hover input { color:#36C !important; }


form.jimify input, form.jimify select { /*width:100%;*/ }

.inputDirect { color:white !important; }
.inputDirect.buttonSmall { color:#666 !important; }

form.jimify .theme_input span input, form.jimify .theme_button span input, form.jimify .theme_buttonSM span input { width:100%; background-color:transparent !important; background:none !important; border:none !important; font-size:14px; height:21px; margin-top:1px; margin-left:-8px; color:#333; }

form.jimify .theme_button input { height:35px !important; cursor:pointer; color:white !important; font-weight:bold; font-size:15px !important; font-family:Arial, Helvetica, sans-serif; }

form.jimify .theme_buttonSM input { height:21px !important; cursor:pointer; color:#666 !important; font-weight:bold; font-size:10px !important; background:red; }

form.jimify .theme_input select { background-color:transparent !important; border:none !important; font-size:14px; height:18px; margin-top:4px; width:100%; margin-left:-8px; color:#333; -webkit-border-radius:15px; }
form.jimify .theme_input select option { background:white; height:20px; background:transparent\9;} 
/*background:url('images/inputBG.png') -15px top no-repeat;*/ 


form.jimify .theme_textarea textarea { background:none; border:none; width:100%; margin-top:12px; color:#555; font-family:Verdana, Geneva, sans-serif; font-size:11px; }
form.jimify .theme_textarea {
	display:block;
	margin-top: 2px;
	margin-bottom: 4px;
}
/*form.jimify .theme_textarea span {
	display:block;
	background:url('images/inputBG.png') right top no-repeat;
	margin-right:-14px;
	height:25px;
}*/
.textareaTop {
	display:block;
	background:url('images/textareaBG.png') left top no-repeat;
	padding-left:10px;
	margin-right:15px;
}
.textareaTop span {
	display:block;
	background:url('images/textareaBG.png') right top no-repeat;
	margin-right:-15px;
	padding-right:10px;
}
.textareaBottom {
	display:block;
	background:url('images/textareaBG.png') left bottom no-repeat;
	margin-bottom:0px;
	padding-left:10px;
	margin-right:15px;
	margin-top:0px;
	
}
.textareaBottom span {
	display:block;
	background:url('images/textareaBG.png') right bottom no-repeat;
	margin-right:-15px;
	height:12px;
}

form.jimify .loadingSubmit { background:url('images/submitBT_spinner.gif') 48% center no-repeat; height:35px; }
form.jimify .submitMessage { color:white; height:35px; font-size:15px; line-height:34px; font-weight:bold; text-align:center; }

.generalSpinner { background:url('images/generalSpinner.gif') center center no-repeat; width:100px; height:100px; }

form.jimify .disabledBT input { cursor:default; }
form.jimify .disabledBT { background-image:url('images/buttonBG_disabled.png') }
form.jimify .disabledBT:hover { background-image:url('images/buttonBG_disabled.png') }
form.jimify .disabledBT span { background-image:url('images/buttonBG_disabled.png') }
form.jimify .disabledBT:hover span { background-image:url('images/buttonBG_disabled.png') }

form.jimify .errorInput { background-image:url('images/inputBG_error.png') }
form.jimify .errorInput:hover { background-image:url('images/inputBG_error.png') }
form.jimify .errorInput span { background-image:url('images/inputBG_error.png') }
form.jimify .errorInput:hover span { background-image:url('images/inputBG_error.png') }
